.result{
    background:linear-gradient(  rgb(240, 177, 219), rgb(125, 93, 138) );
     margin-top: 60px;
    padding-top: 40px;
    color: white;
    width: 100%;
    text-align: center;  
}
.wrapper{
    padding: 25px;   
}
.wrapper h1{
    color: rgb(211, 175, 203);
    text-shadow: 2px 2px whitesmoke;
  transform: rotateX(30deg);

}

.info{
    padding: 20px;
    font-size: 20px;
    display: inline-block; 
}

.InternationalAchievements{
    padding:25px 10px 25px 30px;
    text-align: left;
    background-color: white;
    border-radius: 10px;
}
.InternationalAchievements img{
    float: right;
    border-radius: 10px;
    z-index: 1;
}
.listing{
    position: relative;
    right: 2em;
    padding-left: 40px;
    color: rgb(88, 2, 81); 
}

.students{
    text-align: center;
    padding: 20px;
}
.enter{
    padding: 10px;
    font-style: oblique;
    font-weight: bolder;
    color:#ee89c4 ;
}
.person{
    display: inline-block;
    width: 300px;
    height: 300px;
    padding: 17px;
    background-color: rgb(235, 149, 220);
    margin: 10px;
    border-radius: 6px;
    border-style:ridge;
    color: white;
    box-shadow: 7px 7px 2px 1px rgb(206 229 208);
    outline-style:outset ;
    outline-color: rgb(240, 149, 232);
    outline-width: 3px;
    outline-offset: 1px;
}
.note{
    background-color:rgb(229, 206, 223) ;
    font-style: italic;
    margin: 30px;
    border-radius: 6px;
    border-style:outset;
    color: rgb(100, 22, 86);   

 
}
.b{
    word-wrap: break-word;
    width: 300px;
    background-color: rgba(184, 35, 139, 0.164);
   resize: both;
   overflow: auto;
   outline:5px dashed rgb(214, 131, 196);
   font-family: myFont;
   animation-name: move;
   animation-duration: 8s;

}

#canvas {
    width: 100%;
    height: 3px;
    background-color: rgba(80, 9, 71, 0.164);
}
@keyframes move {
    from {transform:translateX(0)}
    to {transform: translateX(1500px)}
}
