.result{
    background:linear-gradient(  rgb(254, 228, 100), rgb(113, 113, 175) );
     margin-top: 60px;
    padding-top: 40px;
    color: white;
    width: 100%;
    text-align: center;  
  
}
.wrapper{
    padding: 25px;   
}
.wrapper h1{
    color: rgb(175, 211, 178);
    text-shadow: 2px 2px whitesmoke;
  transform: rotateX(30deg);

}

.info{
    padding: 20px;
    font-size: 20px;
    display: inline-block; 
   
}

.InternationalAchievements{
    padding:25px 10px 25px 30px;
    text-align: left;
    background-color: white;
    border-radius: 10px;
}
.InternationalAchievements img{
    float: right;
    border-radius: 10px;
    z-index: 1;
}
.listing{
    position: relative;
    right: 2em;
    padding-left: 40px;
    color: rgb(248, 211, 30); 
}

.students{
    text-align: center;
    padding: 20px;
}
.enter{
    padding: 10px;
    font-style: oblique;
    font-weight: bolder;
    color:#f2f7f1 ;
}
.person{
    display: inline-block;
    width: 300px;
    height: 300px;
    padding: 17px;
    background-color: rgb(254, 228, 100);
    margin: 10px;
    border-radius: 6px;
    border-style:ridge;
    color: white;
    box-shadow: 7px 7px 2px 1px rgb(206 229 208);
    outline-style:outset ;
    outline-color: aquamarine;
    outline-width: 3px;
}
.note{
    background-color:rgb(206, 229, 208) ;
    font-style: italic;
    margin: 30px;
    border-radius: 6px;
    border-style:outset;
    color: rgb(156, 175, 158);   

 
}
.b{
    word-wrap: break-word;
    width: 300px;
    background-color: rgba(9, 80, 53, 0.164);
   resize: both;
   overflow: auto;
   outline:5px dashed gray;
}

#canvas {
    width: 100%;
    height: 3px;
    background-color: rgba(9, 80, 53, 0.164);
}