*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'myriad-pro, Arial';

}
.body{
    
    background-color: hsl(39, 96%, 62%);
    padding: 0 10px;
    background:url(../images/fotoaplikimi.png) no-repeat center ; 
    background-size: cover;
   margin-top:70px;
   display: flex;
   height: 500px;
      
   
}

.wrapper{
   max-width: 500px;
   width: 100%; 
   margin: 20 px auto;
   padding: 30px;
   box-shadow: 1px 1 px 2px rgba(0,0,0,0.125);
   opacity: 0.9;
   font-weight: 400;
   align-items: center;
}
.wrapper .title{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #080806;
    text-transform: uppercase;
    text-align: center;
    
}
 .form{
    width: 100%;
    
}
.input_field{
   
    
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    

}