

*{
    margin: 0;
    
}
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(../images/fotoaplikimi.png) no-repeat center;
    background-size: cover;
    
    
    
}
.contact .content{
    max-width: 800px;
    text-align: center;

}
.contact .content h2{
    font-size: 36px;
    font-weight:500 ;
    color:rgb(88, 59, 59);

}
.contact .content p{

    font-weight: 300;
    color:rgb(247, 151, 43);
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.contactInfo{
    width: 50% ;
    display: flex;
    flex-direction: column;
}
.box{
    position: relative;
    padding: 20px 0;
    display: flex;

}
.icon{
    min-width: 60px;
    height: 60px;
    background: rgb(247, 151, 43);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.text{
    display: flex;
    margin-left:20px ;
    font-size: 16px;
    color: rgb(19, 11, 11);
    flex-direction: column;
font-weight: 300;
}
.text h3{
    font-weight: 500;
    color: rgb(192, 122, 37);


}
.choose{
    padding: 2%;
    background-color:burlywood ;
    border-radius: 20px;
    text-align: center;
    margin: 5px;
    
}
.choose a{
    color: white;
    padding: 15px;
}
.choose  :hover{
   background-color: rgba(116, 59, 59, 0.582);
   border-radius: 25px;
   
}
 
.contactForm{
    width:40%;
    padding: 40px;
    background: #fff;
}
h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
input, textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline:none ;
    resize: none;
}
.Instructions{
    position: absolute;
    left:0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color:#666;
}
input:focus~span, input:valid~span, textarea:focus~span {
    color: #e91;
    font-size: 12px;
    transform: translateY(-20px);
}
input[type="submit"]{
    width: 100px;
    background: burlywood;
    border:none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}
.map{
    color: black;
}
@media (max-width:991px){
    .contact{
        padding: 50px;
    }
    .container{
        flex-direction: column;
    }
    .container .contactInfo{
        margin-bottom: 40px;
        width: 100%;

    }
    .contactForm{
        width: 100%;
    }
    .body{
        margin-top: 55px;
    }


}

/* Dialog*/
.info-dialog {
  display: none; /* Hidden by default */
  position: fixed; 
  z-index: 1;
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 110px;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4); 
}
.dialog-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}
.dialog-content div {
    padding: 10px;
}
.dialog-content input {
    width: auto;
}
.radiobtn-div, .checkbox-div {
    padding: 10px;
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.buttons {
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.buttons #reset, .buttons #save {
    padding: 10px;
    border: none;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}
.buttons #reset:hover {
    background-color: #b4b3b3;
}
.buttons #save {
    background-color: green;
}
.buttons #save:hover {
    background-color: greenyellow;
}
#open-dialog {
    background: transparent;
    cursor: pointer;
}