/*main background image*/
.main-background-div img {
    width: 100%;
    height: auto;
    margin-top: 69px;
    position: relative;
    margin-bottom: 116px;
}
@media screen and (max-width: 430px) {
    .main-background-div img{
        width: 100vw;
    }
}

/*Offers section*/
.offers-div {
    display: flex;
    margin: 10px 20px;
    position: absolute;
    z-index: 9;
    background-color:rgb(254, 228, 100);
    bottom: 4px;
    color: rgb(156, 175, 158);
}
.offers-div div {
    margin: 10px;
    border: dashed 1px;
    padding: 5px;
}
section {
    position: relative;
}

/*Upcoming events section*/
.events-section {
    margin: 50px 20px;
    font-family: myriad-pro, Arial;
    color:rgb(156, 175, 158);
    
} 
.events-section h2 {
    text-align: center;
}
.events-container {
    display: flex;
    justify-content: space-evenly;
}
.event-div {
    flex: 1;
    background-color:white ;
    border: 1px solid rgb(206, 229, 208);
    margin-bottom: 20px;
    margin: 10px;
    border-radius: 5px;
    border-bottom-right-radius: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}
.event-date {
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(156, 175, 158);
    text-align: center;
    font-size: 10px;
    line-height: 1.2;
    padding: 5px;
    margin-right: 10px;
    background: radial-gradient(100% 544.44% at 0% 7.94%,rgb(198, 238, 202) 0%,rgb(206, 229, 208) 100%);
}

/*Academic Network section*/
.academic-section {
    background-image: url('../images/ambient.jpg');
    padding: 20px;
}
.academic-section h1 {
    text-align: center;
}
.academic-section th, .academic-section td {
    padding: 30px;
    border-radius: 3px;
}
.academic-section table {
    border-spacing: 5px;
    text-align: center;
    width: 100%;
}
.academic-section th {
    background: rgb(226 193 33 / 90%);
    color: hsl(0deg 0% 100%);
}
.academic-section td {
    background-color: rgb(226 193 33 / 90%);
  
}
.academic-section td a {
    color: rgb(90, 109, 92);
}
.academic-section td:hover {
    background-color: whitesmoke;
    cursor: pointer;
    font-weight: bolder;
}
.academic-section a:hover{
    color:rgb(254, 228, 100);
}

/*goals*/
.goals-section {
    padding: 40px 20px;
}
.goals-div {
    display: flex;
    place-content: center;
}
.goals-table {
    width: 90%;
}
.goals-table .goal {
    max-width: 375px;
    border-color: #ededf0;
    color:rgb(156, 175, 158);
    vertical-align: baseline;
    float: left;
    width: 100%;
    padding: 20px 0px 10px;
    margin: 5px 15px;
    border: 2px solid;
    text-align: center;
    box-sizing: border-box;
    border-collapse: collapse;
    border-radius: 10px 10px 50px 10px;
    transition: all .2s ease-in-out; 
    background: radial-gradient(100% 544.44% at 0% 7.94%,rgb(254, 228, 100) 0%,rgb(206, 229, 208) 100%);

}
.goals-table th {
    text-align: center;
    font-size: 16px;
}
.goal p {
    width: 93%;
    height: 85px;
    padding: 10px;
}
@media screen and (max-width: 564px) {
    .goal p {
        height: auto;
    }
}
.goal:hover {
    transform: scale(1.1); 
    color:rgb(156, 175, 158);
    
}
.read-button {
    font-size: 18px;
    line-height: 20px;
    padding: 14px 20px;
    display: inline-block;
    vertical-align: top;
    font: 700 14px/20px "FSMe Regular",Helvetica,Arial,sans-serif;
    padding: 10px 15px;
    color: #fff;
    border: 1px solid #fff;
    box-sizing: border-box;
    text-align: center;
    border-radius: 100px;
    text-decoration: none;
    margin: 10px;
}
.read-button:hover {
    background-color:rgb(254, 228, 100);
    color:white ;
    cursor: pointer;
}

