.body{
    background-color:#f2f2f2;
  
    padding: 0 10px;
    background-size: contain;
   margin-top:70px;
   display: flex;
   height: 1400px;
}

.wrapper{
    width: 100%; 
   height: 1400px;
      display:block;
      padding: 30px;
      box-shadow: 1px 1 px 2px rgb(254, 228, 100);
      opacity: 1.0;
      font-weight: 400;
      align-items: center;
   }

   .title{
       text-align: center;
       font-family: Georgia, 'Times New Roman', Times, serif;
       margin-bottom: 50px;
       color:#829180;
       line-height: 3px;
   }

   .box{
    height:auto;
    width: 850px;
    background-color:rgba(254,228,100, 69%);
    font-size:18px;
    padding:3px 45px;
    text-align:center;
    color:white;
    font-family:Georgia;
    border-radius:30px; 
    margin:auto;
    margin-bottom: 50px;
    box-shadow: 7px 7px 2px 1px rgb(206 229 208);
   }
   .text{
    font-size: 30px;
    color: #829180;
    margin-top: 133px;
    margin-left: 60px;
   }
   .parent-pic{
    float: right;
    margin-right: 75px;
    border-radius: 35px;
    box-shadow: 7px 7px 2px 1px rgb(206 229 208);
   }