html {
    font-family: "helvetica neue", sans-serif;
    height:100%;
}
body
{
    min-height:100%;
    padding:0;
    margin:0; 
    position:relative;
    padding-bottom:170px; /* Same height as the footer. */   
    background-color: whitesmoke;
}
@media screen and (max-width: 430px) {
    body {
        position: absolute;
        width: 100vw;
    }
}

/*header style*/
.main-logo {
    max-height: 46px;
    padding: 10px;
    margin: 10px 0px 0px 0px;
    background: url(../images/logo_school.png) 0 0 no-repeat;
    background-size: 100%;
    background-position: center;
    width: 216px;
    height: 39px;
    float: left;
    display: block
}
#header {
    height: 76px;
}
.header-div {
    background: #f4f3ef;
    position: fixed;
    width: 100%;
    top: 0;
    border-bottom: 1px solid #ffc107;
    text-align: right;
    height: 76px;
    line-height: 70px;
    z-index: 33;
}

/*menu style*/
.menu {
    margin: 0px auto;
    width: 700px;
    position: relative;
    background-color: #fff3e0;
}
.menu a {
    font-weight: normal;
    clear: right;
    text-decoration: none;
    color: #3f546a;
    margin: 0 10px;
    line-height: 70px;
}
.menu a:hover {
    text-shadow: 0 0 20px #ff6f00;
    transition: all 0.6s ease;
}
.current-page {
    font-weight:bold;
    border-bottom: 3px solid;
    padding: 5px;
}
.menu-nav {
    width: 100%;
    float: left;
    margin: auto;
    position: fixed;
    background-color: #fff3e0;
    z-index: 99;
}

/*footer style*/
#footer {
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    background:rgb(244,243,239);
    color:#3f546a;
    font-family:'helvetica neue', sans-serif;
    letter-spacing: 1px;
    position:absolute;
    bottom:0px;
    height: 170px;
    width: 100%;
}
.footer-div {
    padding: 8px;
    margin: 0px auto;
    position: relative;
    background-color: rgb(244,243,239);
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4em 1em;
    box-sizing: border-box;
}
.footer-left-div {
    width: calc(50% - 10px);
}
.footer-right-div {
    width: calc(50% - 10px);
}
@media screen and (max-width: 910px) {
    .footer-left-div {
        display: contents;
    }
}
@media screen and (max-width: 500px) {
    .footer-div {
        width: 413px;
    }
    .footer-left-div {
        display: block;
    }
}
a {
    text-decoration: none;
}
.footer-right-div ul {
    list-style-type: none;
    padding: 0px;
}
.footer-right-div ul li a{
    color:#3f546a;
}
.footer-right-div ul li img{
    width: 14px;
}

/*others*/
.margin-10 {
    margin: 10px;
}
